# API
PORT=4000
API_PORT=4000
DB_PORT=5432
# DB Credentials
SERVICE_USER_POSTGRES=file_upload
SERVICE_PASSWORD_POSTGRES=secret
SESSION_SECRET=c3e43de6fe7443sd0f71d261e06
DATABASE_URL=postgres://file_upload:secret@localhost:5432/file_upload


STORAGE_PROVIDER=cloudinary
LOCAL_STORAGE_PATH='../../uploads'
CLOUDINARY_CLOUD_NAME=d3egn
CLOUDINARY_API_KEY=1123
CLOUDINARY_API_SECRET=334

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.
